/* ===========================
   Common Theme
=========================== */

body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

/* ===========================
   Navbar
=========================== */

.custom-bg{
    background:#1A237E !important;
    border:none;
}

.custom-bg:hover{
    background:#283593 !important;
}

.navbar{
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.navbar-brand{
    font-weight:bold;
    font-size:24px;
}

/* ===========================
   Admin Dashboard
=========================== */

.admin .card{
    border:none;
    border-radius:15px;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.admin .card:hover{
    transform:translateY(-6px);
    box-shadow:0 12px 25px rgba(0,0,0,.18);
    cursor:pointer;
}

/* ===========================
   Category List
=========================== */

.list-group{
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.list-group-item{
    border:none;
    padding:14px;
    font-weight:500;
    transition:.3s;
}

.list-group-item:hover{
    background:#eef2ff;
    color:#1A237E;
    font-weight:bold;
}

.list-group-item.active{
    background:#1A237E !important;
    border-color:#1A237E !important;
}

/* ===========================
   Product Card
=========================== */

/* Product Card */

.product-card{
    border:none;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
    width:100%;
}

.product-card:hover{
    transform:translateY(-5px);
}

.product-img{
    width:100%;
    height:220px;
    object-fit:contain;
    padding:15px;
    background:#fff;
}

.card-body h5{
    font-weight:bold;
}

.card-footer{
    background:#fff;
    border-top:none;
}

.card-footer .btn{
    width:100%;
}

.price-box{
    margin-bottom:12px;
}

.new-price{
    color:#198754;
    font-size:22px;
    font-weight:bold;
}

.old-price{
    color:#888;
    font-size:15px;
    text-decoration:line-through;
    margin-left:6px;
}

.discount-badge{
    display:inline-block;
    margin-left:8px;
    background:#dc3545;
    color:#fff;
    padding:4px 8px;
    border-radius:15px;
    font-size:12px;
    font-weight:bold;
}

.discount-label{
    font-size:10px !important;
    text-decoration:line-through !important;
}

/* ===========================
   Buttons
=========================== */

.btn{
    border-radius:25px;
    transition:.3s;
}

.card-footer button{
    margin:5px;
}

/* ===========================
   Responsive
=========================== */

@media(max-width:768px){

    .product-img{
        height:170px;
    }

    .navbar-brand{
        font-size:20px;
    }

}